* {
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hero {
    margin: 0;
    padding: 2rem 3rem;

    text-align: center;

    color: #fff;
    background-color: #8BC34A;

    font-size: 1rem;
}
.hero em {
    font-size: 1.3em;
    font-weight: bold;
}

.warning {
    margin: 1rem 1.3rem 3rem 1rem;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow: 0.7rem 0.7rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
}
.warning em {
    font-size: 1.3em;
    font-weight: bold;
}

.feature {
    margin: 2rem 2rem 3rem;
    padding-bottom: 2rem;

    text-align: justify;

    border-bottom: 2px #ccc dashed;
}
.feature-icon {
    text-align: center;

    color: #777;

    font-size: 6rem;
}
.feature-title {
    text-align: center;
    text-transform: uppercase;

    font-size: 2rem;
    font-weight: lighter;
}

.attribute {
    display: flex;

    margin: 1.8rem 0rem;

    text-align: left;

    align-items: center;
}
.attribute-icon {
    font-size: 1.2rem;
}
.attribute-text {
    margin-left: 1rem;

    font-size: 1rem;
}


.postal_adress {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: #eee;
    font-size: 0.7rem;
    line-height: 0.5rem;
}

@media screen and (min-width: 50em) {
    .feature {
        margin-left: auto;
        margin-right: auto;
        max-width: 46em;
    }
    .hero {
        margin-bottom: 6rem;
        padding: 7% 33% 9%;
        font-size: 1.3rem;
        line-height: 1.5;
    }
    .warning {
        position: absolute;
        top: 23rem;
        right: 2rem;
        width: 14rem;
        margin: 0;
        padding: 0.4rem 0.9rem 0.4rem 1.4rem;
        font-size: 0.6rem;
    }
    .attributes {
        display: flex;
    }
    .attribute {
        flex-direction: column;
        text-align: center;
    }
    .attribute-text {
        font-size: 0.6rem;
        margin: auto 1rem;
    }
}

@media screen and (min-width: 90em) {
    .warning {
        top: 28rem;
        right: 22rem;
    }
}
